@import url('https://rsms.me/inter/inter.css');

html { font-family: 'Inter', sans-serif !important; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}


body {
  margin: 0;
  height: 100vh;
  max-width: 100vw;
}


/*Basic Header */
header {
  display: flex;
  align-items: center;
  width: 90vw;
  margin: auto;
}
.name {
  flex: 2 1 0;
}
nav {
  display: flex;
  justify-content: space-between;
  flex: 2 1 0;
}


section {
  flex: 1 1 0;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

aside {
  flex: 1 1 0;
  max-height: 75vh;
  width: 100vw;
}


.burgundy{
  color: #900020;
}


main {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}





h1{
    /* about me. */
    font-weight: bold;
    font-size: 4em;
    line-height: 44px;
    color: #000000;
}

p {
    /* I'm Dylan Momplaisir, a junior at Amherst College majoring in Architectural Studies, and Computer Science. I'm the Digital Director of the Amherst Student (the oldest school newspaper in the country). I've been doing front-end web development and UI/UX design for about four years, and currently expanding into doing back-end development. Being born and raised in NYC, I've been raised around a world of inequality, and that's motivated me to use tech for public good, supporting people in engaging with civil activism (Root), and learning more about their world (the Amherst Student). I'm interested in doing work that provides people opportunities to utilize resources easier, simplifying people's day to day work, and providing unique, interactive experiences which allow people to create more. If you're interested in working together, having any questions on the projects below or just want to say "Hi!", contact me below! */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 218.2%;
    color: #000000;
}


img {
    object-fit: cover;
    width: 100vw;
    height: inherit;
}

h4 {
    font-weight: 300;
}

.bold {
    font-weight: bold;
}

.desktop-only {
  display: none;
}

@media only screen and (min-width: 868px) {
    main {
      flex-direction: row;
    }

    h1 {
      /* Dylan Momplaisir a digital creative. */
     
      font-size: 4em;
      line-height: 87px;
    }
    aside {
      order: 2;
      max-height: 100vh;
      flex-basis: 50%;
    }
    img {
        width: 100%;
        height: 100%;
    }
    section {
        flex-basis: 48%;
        height: 100vh;
        margin: 0;
        padding-left: 45px;
        padding-right: 30px;
    }
    
    .desktop-only {
      width: 250px;
      height: 200px;
      z-index: 20;
      position: absolute;
      bottom: 0;
      background: white;
      margin: 20px;
      padding: 20px;
      display:block;
    }

    .desktop-only span { 
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 218.2%;
      /* or 26px */
      color: #000000;
      margin-top: 20px;

    }
    .desktop-only p {
      margin: 0;
      /* Using tech to support marginalized communties */
      font-weight: 500;
      font-size: 12px;
      line-height: 218.2%;
      /* or 26px */
      color: #000000;
    }
}

