@import url('https://rsms.me/inter/inter.css');

html { font-family: 'Inter', sans-serif; width: 100vw; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
    margin: 0;
    overflow-x: hidden;
}
header {
    display: flex;
    align-items: center;
    width: 90vw;
    margin: auto;
}

li {
    list-style-type: none;
}

.name {
    flex: 2 1 0;
}

nav {
    display: flex;
    justify-content: space-between;
    flex: 2 1 0;
  }

h1{
/* about me. */
font-weight: bold;
font-size: 4em;
line-height: 44px;
color: #000000;
}

.social {
    margin: 0;
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
    margin-block-start: 0em;
}
.social li {
    margin: .2em 0;
}
.social li a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}
/* 
header {
    background: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0;
    z-index: 2;
    top: 0;
} */

header nav, header h1 {
    padding-left: 20px;
}

h4 {
    font-weight: 300;
}

span {
    font-weight: 600;
}

p{
     font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 218.2%;
}

section{
    margin-right: 20px;
    margin-left: 20px;
}
label {
    margin-bottom: 10px;
}
input {
    margin-bottom: 20px;
    height: 40px;
}

select {
    height: 40px;
    margin-bottom: 20px;
}
textarea {
    height: 75px;
    margin-bottom: 30px;
}

form {
    margin-top: 20px;
    display:flex;
    flex-direction: column;
}

@media only screen and (min-width: 868px) {
    section {
        width: 87vw;
        margin: 0 auto;
    }
}

.btn {
    border-radius:0.15em;
    border:0.15em solid black;
    padding:0.35em 1.2em;
    font-weight: 500;
    background-color: transparent;
    font-family: 'Inter';
}