body {
    margin: 0;
}
main {
    display:flex;
    flex-direction: column;
    flex:0.6;
    height: 100vh;
}
section {
    flex:1;
}
nav {
    margin-right: 20px;
    margin-left: 20px;
    z-index: 2;
    top:0;
    position: absolute;
}
#top {
    flex:0.6;
    width: 100vw;

}
#bottom{ 
    flex: 0.4;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
   
}
img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
}

h1, li, h4 {
    font-family: "Inter";
}
h1 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    margin: 0;
}
h4{
    color: white;
    font-weight: 400;
}

span {
    font-weight: 600;
}

.burgundy{
    color: #900020;
}

ul {
    /* about me portfolio currently reading... contact me */
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 218.2%;
    /* or 31px */
    color: #000000;
    padding: 0;
}

li {
    list-style-type: none;
}

@media only screen and (min-width: 868px) {
    body{
      height: 100vh;
      overflow: hidden;
    }
    nav {
      display: none;
    }
    h1 {
      /* Dylan Momplaisir a digital creative. */
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 72px;
      line-height: 87px;
    }
    h4 {
      font-size: 16px;
    }
    main {
      flex-direction: row;
      height: auto;
      flex-flow: row wrap;
      margin-left: 0;
      height: 100vh;

    }
    #top {
      flex-grow: 0.43;
      order: 2;
      
    }
    img {
      width: 100%;
    }
    #bottom {
      flex-grow: 0.57;
      margin: auto 40px auto 40px;
    }
}