/** Master CSS stylesheet for
Dylan Momplaisir's new portfolio
site **/

/** import fonts into the CSS **/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Space+Mono:400,700');

/** Base styles **/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 2.30vh;
}
h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 3em;
}
h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size:2.5em;
}
/* h3{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
} */
h5 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
}
p {
  font-family: 'Space Mono', monospace;
  font-weight: 400;

  font-size: 0.90em;
}
p a {
  text-decoration: none;
  font-weight:700;
  color:grey;
}

/** body-components **/
main {
  margin-top: 7.3vh;
  display: flex;
  flex-flow: column;

}

section{
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

footer p{
  text-align: center;
  font-size: 0.75em;
  line-height: 0.50em;
}


/** style the nav woot, woot **/
nav {
  width: 100%;
  position: fixed;
  height: 7.5vh;
  top:0;
  background: rgba(255, 255, 255, 0.75);

  /** perhaps put a color overlay for this , opaque **/
}
.navonscroll{
  height:5vh;
}

ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  -webkit-padding-start:1px;
  justify-content: center;
}

li {
  flex:1;
  font-family:'Space Mono', monospace;
  font-size: 0.90em;
}

li a {
  text-decoration:none;
  color: black;
}

#name{
  font-weight: 700;
  margin-left: 1vw;
}

.block {
  align-self:flex-end;
  display:flex;
  align-items: stretch;
  width:45%;
}



/** hero **/

#hero {
  background: url('hero_img.jpeg');
  background-size: cover;
  display:flex;
  align-items: center;
  justify-content: center;
  line-height: 0.25em;
  width: 100vw;
  margin: 0 !important;
}
.header_text{
  background: rgba(0, 0, 0, 0.5);
  padding:1em;
  color:#fefefe;
  text-shadow: 0.5px 0.5px 1px #0a0a0a;
  text-align: center;
}

.header_text h5{
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-size: 0.8em;
}
/** section for about me ( add media querys later)**/

#about_me{
  display: flex;
  flex-direction: row;
}

#about_me aside {
  width:45%;
  object-fit: cover;
}

#about_me aside img {
  max-width: 100%;
  max-height: 100%;
}

#about_me article {
  width:50%;
  padding-left: 2.5%;
}

/** portfolio section **/
#portfolio {
  margin-left:10px;
}
.container{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100vw;
  margin: auto;   /*center */
}

.item {
  height: 75vh;
  width: 24vw;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
}
.item * {
  margin-left: 2px;
}
.design_type {
  font-weight: 400;
  font-size: 0.6em;
}
.lower_text h5{
  line-height: 0.45em;
  margin-bottom:0;
}
.lower_text {
  height: auto;
  width: 90%;
  margin-top: auto;
}
.lower_text p {
  font-size: 0.8em;
}

/* contact_me section */

#contact {
  display: flex;
  flex-flow: column wrap;
  margin-left: 10px;
}

#contact label {
  font-family: 'Space Mono', monospace;
  font-size: 0.80em;
  display:block;
  padding-top:2vh;
}

#contact p {
  width: 55%;
}

#contact input, select, textarea {
  font-family: 'Space Mono', monospace;
  font-size: 0.85em;
  border: 1px solid black;
}

#contact input[type="text"] {
  height:5vh;
  width: 45vw;
}

#contact input[type="email"]{
  height:5vh;
  width: 45vw;
}

#contact textarea {
  height:15vh;
  width: 45vw;
  font-size: 0.75em;
}
#contact select {
  height: 5vh;
  width: 45vw;
  font-family: 'Space Mono', monospace;
  padding: 20px;
}

#contact input[type="submit"] {
  display: block;
  height: 5vh;
  width: 45vw;
  border: 1px solid black;
  background: white;
  margin-top:4px;
}

/** Media queries **/

@media (max-width: 950px) {
  /* body { background: rgba(0,0,0, 0.5);} */
  /* .header_text {
    height: 20%;
    width: 40%;
  } */
  .hero{
    background-position: center;
  }
  h1{
    font-size: 2em;
  }

  .header_text h5{
    font-size: 0.895em;
    line-height: 0.95em;
  }
  section {
    width: 100%;
  }
  #about_me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 160vh;

  }
  #about_me aside {
    max-height:40%;
    width: 100%;
  }
  #about_me article {
    width:100%;
    min-height:50%;
    padding-left: 1.5%;
    background: rgba(0,0,0,0.8);
  }
  #about_me h2 {
    color:#ecf0f1;
    margin-bottom: 1vh;
  }
  #about_me p {
    font-size: 0.955em;
    color: #ecf0f1;
  }
  #portfolio {
    height:100%;
  }
  .container {
    width: 100%;
    flex-flow: row wrap;
    margin:auto;
  }
  .item {
    height:40%;
  }
  .item * {
    margin-left: 0px;
  }
  .container > * {
    flex-basis:35vh;

  }

  #contact p {
    width: 80%;
  }
  #contact input[type="text"], #contact input[type="email"]{
    width:80%;
  }

  #contact form > * {
    width: 80%;
  }
  #contact input[type="submit"]{
    width:80%;
  }

}
