/** Master CSS stylesheet for
Dylan Momplaisir's new portfolio
site **/

/** import fonts into the CSS **/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Space+Mono:400,700');

/** Base styles **/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}




body {
  margin: 0;
  font-size: 18px;
  display:block;
  width: 100%;
}
h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 2.75em;
}
h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size:2.5em;
}

h5 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 1em;
}
p {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-size: 0.90em;
}
p a {
  text-decoration: none;
  font-weight:700;
  color:grey;
}
a {
  text-decoration: none;
  color:black;
}




/** body-components **/
main {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

section{
  padding-bottom: 10px;
  min-height: 90vh;

}

footer p{
  text-align: center;
  font-size: 0.75em;
  line-height: 0.50em;
}

.navbar-brand{
  font-family: 'Josefin Sans', sans-serif;

}




li {
  font-family:'Space Mono', monospace;
  font-size: 0.90em;
}


#name{
  font-weight: 700;
  margin-left: 1vw;
}

img{
  max-height: 80vh;
}

/** hero **/

#hero {
  background: url('hero_img.jpeg');
  background-size: cover;
  display:flex;
  align-items: center;
  justify-content: center;
  line-height: 0.25em;

}
.header_text{
  background: rgba(0, 0, 0, 0.5);
  padding:1em;
  color:#fefefe;
  text-shadow: 0.5px 0.5px 1px #0a0a0a;
  text-align: center;
}

.header_text h5{
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-size: 0.8em;
}


/** portfolio section **/

.item {
  height: 75vh;
  width: 24vw;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
}
.item * {
  margin-left: 2px;
}

.lower_text h5{
  line-height: 0.45em;
  margin-bottom:0;
}
.lower_text {
  height: auto;
  width: 90%;
  margin-top: auto;
}
.web_design{
  font-size: 0.8em;
}

/* contact_me section */



#contact label {
  font-family: 'Space Mono', monospace;
  font-size: 0.80em;
  display:block;
  padding-top:2vh;
}

#contact p {
  width: 55%;
}

#contact input, select, textarea {
  font-family: 'Space Mono', monospace;
  font-size: 0.85em;
  border: 1px solid black;
}

#contact input[type="text"] {
  height:5vh;
  width: 45vw;
}

#contact input[type="email"]{
  height:5vh;
  width: 45vw;
}

#contact textarea {
  height:15vh;
  width: 45vw;
  font-size: 0.75em;
}
#contact select {
  height: 5vh;
  width: 45vw;
  font-family: 'Space Mono', monospace;
  padding: 20px;
}

#contact input[type="submit"] {
  display: block;
  height: 5vh;
  width: 45vw;
  border: 1px solid black;
  background: white;
  margin-top:4px;
}

/** Media queries **/

@media (max-width: 950px) {
  /* body { background: rgba(0,0,0, 0.5);} */
  /* .header_text {
    height: 20%;
    width: 40%;
  } */
  .hero{
    background-position: center;
  }
  h1{
    font-size: 2em;
  }
  .block {
    display:none;
  }
  #name {
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
  }
  .header_text h5{
    font-size: 0.895em;
    line-height: 0.95em;
  }
  body{
    font-size: 16px;

  }




  #about_me h2 {
    margin-bottom: 1vh;
  }
  #about_me p {
    font-size: 0.955em;
  }


  .item {
    height:40%;
  }
  .item * {
    margin-left: 0px;
  }


  #contact p {
    width: 80%;
  }
  #contact input[type="text"], #contact input[type="email"]{
    width:80%;
  }

  #contact form > * {
    width: 80%;
  }
  #contact input[type="submit"]{
    width:80%;
  }

}
