---
layout: default
title: Projects
custom_css: 
  - projects
---

<main>
    {% for project in site.projects %}
    <section>
        <div class="img">
            {% if project.hero_image %}
            <a href="{{ project.url | relative_url }}">
                <img src="{{ project.hero_image | relative_url }}" alt="{{ project.title }}">
            </a>
            {% endif %}
        </div>
        <div>
            <a href="{{ project.url | relative_url }}">
                <h3>{{ project.title }}</h3>
            </a>
            <p>{{ project.excerpt }}</p>
        </div>
    </section>
    {% endfor %}
</main>