body {
  width: 100vw;
  height: 100vh;
}

header{
  width: 100%;
  position:fixed;
  top: 0;
  bottom:auto;
  background: Transparent;
  z-index: 20;
}
section{
  height:95%;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  padding: 10px;
  display: inline-block;
}

.hero-image{
  background-image: url("assets/hero-image.jpg");
  /*-webkit-filter:blur(1px);
  filter: blur(1px);*/
  margin:0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.hero_text{
  padding-left: 10px;
  display: flex;
  justify-content: center; /* perhaps remove it */
  align-items: center;
  height: 100vh;
  color:white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.hero_text h1{
  padding-right: 10px;
}

#about_text{
  width: 45%;
}
