body{
  background-color: #EEEEEE;
  font-family:'Open Sans', sans-serif;;
  /* In general make look nicer/ work on aesthtic latter */
}
header{
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
  text-decoration: none;
  list-style-type: none
}

li a {
  display: block;
  padding: 16px;
  text-align: center;
  text-decoration: none;
}

#backtohome a {
  padding-right: -10px;
  // Confused on how to make all of them somewhat equadistant
}
