<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    <header>
        {% include navigation.html %}
        {% if page.header_style %}
        <section class="header header-{{ page.header_style }}">
            <h1>{{ page.title }}</h1>
            {% if page.description %}
            <p class="description">{{ page.description }}</p>
            {% endif %}
        </section>
        {% endif %}
    </header>

    <main>
        {{ content }}
    </main>
</body>
</html> 